.work{
align-items: center;
    background-color: rgb(240, 223, 236);
    box-shadow:inset 5px 5px 12px #baa3c4,
    5px 5px 12px rgba(190, 179, 192, 0.16);   
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.resultsarea{
    border: 4px;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-style: solid;
}

body{
    background-color: rgb(231, 218, 228);
}